 h1,p{
color: rgb(250, 128, 114);
 }
 button {
    color:blue
  
 }

 body {
    background-color: rgb(145, 227, 219);
 }
 #myid{
    color :#2b977e
 }
 .p{
    color:rgb(0, 23, 255)
 }
 #box{
    background-color: blue;
 }
 .id{
    color: red;
 }
 